<h1>Portfolio</h1>



<h3>Search for Stocks</h3>
<div class="id">stock-lookup
    <%= form_tag "search_stocks", remote: true, method: :get, id: "stock-lookup-form" do %>
        <div class="form-group row no-padding text-center col-md-12">
            <div class="col-md-12">
                <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control search-box input-lg", required: true %>

            </div>
            <div class="col-md-2">
 
                <%= button_to 'Lookup a Stock', path: "#", class: "btn btn-danger" %>

                <%= button_tag( type: :submit, path: "#", class: "btn btn-lg btn btn-info") do %>
                <i class="fa fa-search"></i>Look up a stock
                <% end %>
            </div>
        </div>
    <% end %>
</div>


<div class="result">
    <%= render 'users/result' %>
</div>